body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.navbar{
    position: fixed;
    width: 100%;
    padding: 30px 0;
    font-family: sans-serif;
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 30px 0;
    background: crimson;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #fff;
    text-decoration: none;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span{
    color: crimson;
    transition: all 0.3s ease;
}
.navbar.sticky .logo a span{
    color: #fff;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: crimson;
}
.navbar.sticky .menu li a:hover{
    color: #fff;
}



.home{
    display :flex;
    background: url("img/banner.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 80vh;
    color: #fff;
    min-height: 500px;
    font-family: sans-serif;
}
.home .max-width{
    margin: auto 0 auto 40px;
}
.home .home-content .text-1{
    font-size: 27px;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    color: crimson;
    font-weight: 500;
}


section{
    padding: 100px 0;
}
.about, .services{
    margin-top: -50px;
    margin-bottom: 10px;
    padding-top: 200px;
    font-family: sans-serif;
    background: rgba(255, 255, 255, 0.5);
}
.about .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: sans-serif;
}
.about .about-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.about .about-content .left{
    width: 45%;
}
.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text{
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .right .p{
    font-size: 25px;
}
.about .about-content .right .text span{
    color: crimson;
}
.about .about-content .right p{
    text-align: justify;
}



.services .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: sans-serif;
}

.services{
    padding-top: 150px;
    color: #fff;
    background: #111;
}

.services .serv-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}




@media (max-width: 991px){
    .max-width{
        padding: 0 50px;
    }
    .navbar .menu{
        position: fixed;
        background: black;
    }
}

